importFrom("stats", "na.omit")
importFrom("utils", "browseURL", "readClipboard", "write.table", "writeClipboard")
importFrom("tools", "startDynamicHelp")

import("tcltk", "sp", "RODBC", "rgeos", "rgdal", "brew", "Rook")

export("ExploreDatabase",
       "MapSites",
       "OpenRNWIS",
       "QueryDatabase")
