<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="initial-scale=1.0, user-scalable=no" />
    <title>RNWIS Map</title>

    <style type="text/css">
      body {
        margin: 0px;
        padding: 0px;
      }
      a {
        text-decoration: none;
      }
      #map {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        overflow: auto;
      }
    </style>

    <script src="http://www.google.com/jsapi"></script>

    <script src="../javascript/markerclusterer_packed.js"></script>

    <script src="<%=paste(jsonurl, 'data.json', sep='')%>"></script>

    <script type="text/javascript">
      google.load('maps', '3', {other_params: 'sensor=false'});

      function initialize() {
        'use strict';
        var map, bounds, markers, image, imagecode, shadow, shape;

        map = new google.maps.Map(document.getElementById('map'), {
          streetViewControl: 0,
          mapTypeId: google.maps.MapTypeId.TERRAIN
        });

        bounds = new google.maps.LatLngBounds();

        image = [];
        imagecode = ['GW', 'SW', 'SP', 'AT', 'NA'];
        for (var i = 0; i < imagecode.length; i++) {
          image[imagecode[i]] = new google.maps.MarkerImage(
            "../images/icon_" + imagecode[i] + ".png",
            new google.maps.Size(18,32),
            new google.maps.Point(0,0),
            new google.maps.Point(9,32)
          );
        };

        shadow = new google.maps.MarkerImage(
          "../images/shadow.png",
          new google.maps.Size(38,32),
          new google.maps.Point(0,0),
          new google.maps.Point(9,32)
        );

        shape = {
          coord: [12,0,14,1,15,2,16,3,16,4,17,5,17,6,17,7,17,8,17,9,17,10,17,
                  11,17,12,16,13,16,14,15,15,15,16,14,17,13,18,13,19,12,20,
                  12,21,11,22,11,23,11,24,10,25,10,26,10,27,10,28,9,29,9,30,9,
                  31,8,31,8,30,8,29,7,28,7,27,7,26,7,25,6,24,6,23,6,22,5,21,5,
                  20,4,19,4,18,3,17,2,16,2,15,1,14,1,13,0,12,0,11,0,10,0,9,0,8,
                  0,7,0,6,0,5,1,4,1,3,2,2,3,1,5,0,12,0],
          type: 'poly'
        };

        if (typeof data.sites === 'object') {
          markers = [];

          var addMarker = function (lat, lng, title, htmlString, siteType) {
            var latLng = new google.maps.LatLng(lat, lng);
            var marker = new google.maps.Marker({
              icon: image[siteType],
              shadow: shadow,
              shape: shape,
              map: map,
              position: latLng,
              title: title
            });
            var infowindow = new google.maps.InfoWindow({
              content: htmlString
            });
            google.maps.event.addListener(marker, "click", function () {
              infowindow.open(map, marker);
            });
            markers.push(marker);
            bounds.extend(latLng);
          };

          for (var i = 0, dataSites; dataSites = data.sites[i]; i++) {
            var url = "http://waterdata.usgs.gov/nwis/inventory?" +
                      "agency_code=" + dataSites.agency + "&" +
                      "site_no=" + dataSites.site ;
            var htmlString = "<div>" +
                             "<b>Site Number:</b> " + dataSites.site +
                             "<br />" + "<b>Site Name:</b> " + dataSites.name +
                             "<br />" + "<a target='_blank' href='" + url +
                             "'>Access Data</a></div>";
            addMarker(dataSites.lat, dataSites.lng, dataSites.site + '',
                      htmlString, dataSites.type);
          };

          var mcOptions = {maxZoom: 14};
          var markerCluster = new MarkerClusterer(map, markers, mcOptions);
        };

        if (typeof data.polygons === 'object') {
          var polygons = [];

          var polygon = [
            new google.maps.LatLng(80,-180),
            new google.maps.LatLng(80,0),
            new google.maps.LatLng(0,0),
            new google.maps.LatLng(0,-180)
          ];
          polygons.push(polygon);

          for (var i = 0; i < data.polygons.length; i++) {
            var polygon = [];
            for (var j = 0, dataPoly; dataPoly = data.polygons[i][j]; j++) {
              var latLng = new google.maps.LatLng(dataPoly.lat, dataPoly.lng);
              polygon.push(latLng);
              bounds.extend(latLng);
            };
            polygons.push(polygon);
          };

          polygons = new google.maps.Polygon({
            paths: polygons,
            strokeColor: "#000000",
            strokeOpacity: 0.5,
            strokeWeight: 2,
            fillColor: "#000000",
            fillOpacity: 0.4
          });

          polygons.setMap(map);
        };

        map.setCenter(bounds.getCenter());
        map.fitBounds(bounds);
      };

      google.setOnLoadCallback(initialize);
    </script>

  </head>
  <body>
    <div id="map-container"><div id="map"></div></div>
  </body>
</html>
